@font-face {
    font-family: roboto;
    src: url(../roboto.ttf);
}

.h1 {
    padding: 2%;
}

.img1 {
    padding-left: 40px;
    padding-right: 40px;
}

.img1:hover {
    content: url(../img/chaise/hCooler\ Master\ Caliber\ R1\ Bleu.png);
}

.img2 {
    padding-left: 40px;
    padding-right: 40px;
}

.img2:hover {
    content: url(../img/chaise/hSKILLCHAIRS\ Pilot\ Series\ v2.png);
}

.img3 {
    padding-left: 40px;
    padding-right: 40px;
}

.img3:hover {
    content: url(../img/chaise/hSpirit\ of\ Gamer\ Fighter.png);
}