@font-face {
    font-family: roboto;
    src: url(../roboto.ttf);
}

.h1 {
    padding: 2%;
}

.img1 {
    padding-left: 40px;
    padding-right: 40px;
}

.img1:hover {
    content: url(../img/moniteur/hASUS\ VG24VQE\ 23.6\ LED\ 165\ Hz.png);
}

.img2 {
    padding-left: 40px;
    padding-right: 40px;
}

.img2:hover {
    content: url(../img/moniteur/hBenQ\ GW2780\ 27\ IPS.png);
}

.img3 {
    padding-left: 40px;
    padding-right: 40px;
}

.img3:hover {
    content: url(../img/moniteur/hCooler\ Master\ GM27-CF\ 27\ 165Hz.png);
}